<layout name="layout" />

<body>
	<div class="container main">
		<!--
    <a href="question.html"><button type="button" class="btn btn-info" id="add">返回题目列表</button></a>
--><ul class="list-group" >
    <li class="list-group-item" style="background:#F0F8FF;"><span class="span">题目类型:</span><span class="spans">    <foreach name='tdata' item="val">
        <if condition="$qdata.typeid eq $val['id']">
            <{$val.name}>
        </if>
        </foreach></span></li>
			<li class="list-group-item" style="background:#F0F8FF;"><span class="span">题目名称:</span><span class="cons"><{$qdata.name}></span></li>
			<li class="list-group-item" style="background:#F0F8FF;"><span class="span">题目内容:</span>
				<textarea id="myEditor1" name="content" class="textarea"><{$qdata.content}></textarea>
			</li>
			<li class="list-group-item" style="background:#F0F8FF;"><span class="span">开始时间:</span><span class="spans"><{$qdata.stime}></span></li>
			<li class="list-group-item" style="background:#F0F8FF;"><span class="span">结束时间:</span><span class="spans"><{$qdata.etime}></span></li>
		</ul>

		<div class="col-md-12 question">
			<foreach name="data" item="val">
				
				<label for="myEditor">
		<foreach name="udata" item="v">
		<if condition="$val.uid eq $v['id']">
		<span class="titles">提交人：</span><span class="cons"><{$v.username}>	
		<span class="titles">期数：</span><span class="cons"><{$v.usernum}>	
		<span class="titles">提交时间：</span><span class="cons"><{$val.time}>	
			<if condition="$v['id']==$id">
				<a href=<{:U('Passwords/updates?id='.$val['id'])}>><button class="btn btn-success"> 修改答案</button></a>
			</if>
		</if>
		</foreach>
	  	</label>
				<div class="form-group">
					<textarea id="myEditor" name="content" class="textarea"><{$val.content}></textarea>

				</div>
			</foreach>

		</div>
	</div> 
	<label style="text-align:center;width:100%;">
				<{$page}>
	</label>
</body>
<script language="javascript" type="text/javascript" src="__PUBLIC__/My97DatePicker/WdatePicker.js"></script>
<link href="__PUBLIC__/ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="__PUBLIC__/ueditor/third-party/jquery.min.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/umeditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/umeditor.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
	UM.getEditor('myEditor', {
		initialFrameWidth: "100%",
		readonly: true,
		toolbar: [],
		initialFrameHeight: 8

	});
	UM.getEditor('myEditor1', {
		initialFrameWidth: "100%",
		readonly: true,
		toolbar: [],
		initialFrameHeight: 8

	});
</script>

</html>